.student-statistics-container{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.stats-icon{
    width: 3em !important;
}



.student-statistics-tile-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.student-statistics-tile-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.student-statistics-tile-content-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.jobsapplied{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}
.jobs-posted-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.mr-4{
    margin-right: 5px;
}