<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Intern Portal</title>
       
        
    <!-- Bootstrap -->
    <!-- <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
   <!-- <link href="/css/jumbotron-narrow.css" rel="stylesheet"> -->
    </head>
    <body>
        <div class="container">
            <div class="header">
              <ul class="nav nav-pills pull-right">
               
                
              </ul>
              <h1 class="text-muted">Intern Portal - Home Page</h1>
            </div>
      
            <div class="jumbotron" id="AddNew">
              
              <p class="lead"></p>
              <p></p>
            <div class="row">
      
      
                <div class="col-md-12 col-xs-12 col-sm-0 col-lg-12 ">
                  <div class="col-md-1 col-xs-2 col-sm-0 col-lg-2 "></div>
                  <div class="col-md-10 col-xs-8 col-sm-8=12 col-lg-8">
                 
                       
                     
                       
                        <br>
                        <a href="/auth/outlook" class="btn btn-info btn-lg btn-block" role="button">Login With Outlook</a>
                        <br>
                        <br>
                        <a href="/company" class="btn btn-info btn-lg btn-block" role="button">Recruiter</a>
                  </div>
                  <div class="col-md-1 col-xs-2 col-sm-0 col-lg-2"></div>
      
      
              </div>
            </div>
      
      
          </div> <!-- /container -->
        </div>
    </body>
</html>