.search-tags{
    width: 150px;
    height: 40px;	 
    border-radius: 20px;
    padding: 5px;
    border:gray;
    background-color: #D5D5D5;
    margin-top:40px;
    margin-right:20px;
    cursor:pointer;
    box-shadow: rgb(119, 119, 119) 0px 0.1px 1px 1px;
}
.search-tags:hover{
    background-color: #b8b8b8;
}
/* On click */
.search-tags:active{
    box-shadow: none;
}
.searchimg{
    width: 80%;
    position: relative;
    top: 350px;
    /* margin-top: auto;
    margin-bottom: 2rem;
    margin-right: 1rem; */
}
.search-bar{
   border-radius: 8px;
   margin-top: 3rem;
   border: none !important;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.search-bar:hover{
    border: none;
}
.border-none{
    border: none !important;
}


@media screen and (max-width: 1204px){
    .searchpg-cont{
       display: block !important;
    }
    .searchpg-imgCont{
        display: none;
    }
}