<!DOCTYPE html>
<html lang="en">

<body>
<center>
<form action="/company/addopp" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="jobname" class="text-light">Job Title</label>
            <input type="text" name="jobname" value="" placeholder="backend engineer">
        </div>
        <div class="form-group">
            <label for="duration" class="text-light">duration</label>
            <input type="duration" name="duration" value="" placeholder="2 months">
        </div>
        <div class="form-group">
            <label for="location" class="text-light">location</label>
            <input type="location" name="location" value="" placeholder="pune">
        </div>
        <div class="form-group">
            <label for="stipend" class="text-light">stipend</label>
            <input type="stipend" name="stipend" value="" >
        </div>
        <div class="form-group">
            <label for="requirements" class="text-light">requirements</label>
            <input type="requirements" name="requirements" value="" placeholder="short info">
        </div>
        <div class="form-group">
            <label for="tags" class="text-light">tags</label>
            <input type="tags" name="tags" value="" >
        </div>
        <div class="form-group">
            <label for="process" class="text-light">process</label>
            <input type="process" name="process" value="" >
        </div>
        <div class="form-group">
            <label for="link" class="text-light">link</label>
            <input type="link" name="link" value="" >
        </div>
        <div class="form-group">
            <label for="perks" class="text-light">perks</label>
            <input type="perks" name="perks" value="" >
        </div>
        <div class="form-group">
            <label for="openings" class="text-light">openings</label>
            <input type="number" name="openings" value="" >
        </div>
        <div class="form-group">
            <label for="info" class="text-light">info</label>
            <input type="info" name="info" value="" >
        </div>
       
        
 
       
 
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
 
    </div>
 </form>
</center> 
</body>
</html>