.form-inp{
    justify-content: space-evenly;
    align-items: center;  
}

.form-pad{
   padding:0rem 3rem 
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.mg-top{
 margin-top: 2rem;
}